body{
    background-color: pink;
    color: darkviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#photo1{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#photo2{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
nav{
    text-align: center;
}
nav ul{
    margin: 0;
    padding:0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 20px;
    font-size: 24px;
    
}
h1{
    text-align: center;
}
